@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

/* -----------------------------------------------------------------------------
----------------- MAIN ---------------------------------------------------------
----------------------------------------------------------------------------- */

textarea, span, p, h2, button, input {
  font-family: 'Dekko', cursive;
}

/* -------------------------------------------------------------------------------
------------------ HEADER --------------------------------------------------------
------------------------------------------------------------------------------- */

h1 {
  font-family: 'Rock Salt', cursive;
  position: absolute;
  bottom: 0;
  text-shadow: rgb(249, 248, 246) 2px 0 10px;
  margin: 15px;
  font-size: 1.5rem;
}

header {
  display: flex;
  position: relative;
}

.headerImage { 
  width: 100%;
  height: 200px;
}

/* ---------------------------------------------------------------------------------
------------------ SORT PART -------------------------------------------------------
--------------------------------------------------------------------------------- */

body {
  background-color: rgb(244, 238, 223);
}

.radiobuttonSection {
  margin: 15px 50px; 
}

.radioButtonSpan {
  font-size: 1.5rem;
}

.radiobuttonsdiv {
display: flex;
flex-direction: column;
}

.sortHeader {
  font-size: 1rem;
}

.sortLabel {
  display: block;
}

.radioButtonSpan {
  font-size: 1rem;
  padding-left: 2px;
}

/* --------------------------------------------------------------------------------
------------------ TODO LIST ITEM -------------------------------------------------
-------------------------------------------------------------------------------- */

.toDoItemClass{
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  border: 1px, solid, rgb(13, 99, 33);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.toDoNameClass {
  padding-top: 10px;
  padding-bottom: 10px;
}

.deliteButtonClass {
  margin-top: 10px;
}

.descriptionClass {
  margin-bottom: 25px;
}

.descriptionClass, .deliteButtonClass {
  font-size: 1.5rem;
}

.radioButtonSpan {
  font-size: 1.2rem;
}

.datePartInTODOItem {
  display: flex;
  justify-content: space-between;
}

.deliteButtonClass {
  border-radius: 10px;
}

.todoButtonsDiv {
  display: flex;
  justify-content: space-between;
}

.fiveDaysToDeadlineP {
  color: red;
  font-size: 2rem;
  margin-bottom: 25px;
}

/* --------------------------------------------------------------------------------
------------------ ADD NEW TODO ---------------------------------------------------
---------------------------------------------------------------------------------*/

.addToTODO {
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  border: 1px, solid, rgb(13, 99, 33);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

label { 
  display: flex;  
  justify-content: space-between;
}

label span { 
  width: 110px; 
}

.formLabels{
  font-size: 1.1rem;
}

.addNewTODOButtonsDiv{
  display: flex;
  justify-content: space-between;
}

.addNewTODOButton, .doneButtonClass{
  font-size: 1rem;  
  border-radius: 10px;
  background-color: rgb(205, 245, 148);
}

.deliteTODOButton, .deliteButtonClass{
  font-size: 1rem;  
  border-radius: 10px;
  background-color: rgb(245, 191, 200);
}

.categoryDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.categoryLabels{
  width: 145px;
  margin-bottom: 15px;
}

.categoryP{
  margin: 15px;
}

/* --------------------------------------------------------------------------------
------------------ FOOTER ---------------------------------------------------------
-------------------------------------------------------------------------------- */

footer{
  display: flex;
  justify-content: end;
  margin-right: 25px;
  font-size: 1rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* --------------------------------------------------------------------------------
------------------ BIGGER SIZES ---------------------------------------------------
-------------------------------------------------------------------------------- */

@media screen and (min-width: 768px){
  h1 {
    font-size: 4rem;
    padding-left: 20px;
  }

  .headerImage { 
    height: 350px;
  }

  .sortHeader {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
  
  .radioButtonSpan {
    font-size: 1rem;
    padding-left: 2px;
  }

  .radiobuttonSection {
    margin: 5px 50px; 
  }

  .radiobuttonsdiv {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
  }

  .toDoItemClass{
    margin: 20px 100px;
  }

  .toDoNameClass {
    font-size: 2rem;
  }

  .toDaysDateClass, .deadLineDateClass, .descriptionClass, .deliteButtonClass {
    font-size: 1.8rem;
  }

  .addToTODO {
    margin: 20px 100px;
  }
  
  label span { 
    width: 170px; 
  }
  
  .formLabels{
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  input{
    font-size: 1.8rem;
    padding-left: 10px;
  }
  
  textarea, .deliteTODOButton, .doneButtonClass, .addNewTODOButton, .deliteButtonClass{
    font-size: 1.5rem;  
  }  

  .radioButtonSpan {
    font-size: 1.5rem;
  }

  footer{
    font-size: 1.5rem;
  }

  .categoryRadioSpans {
    font-size: 1.4rem;
    width: 300px;
  }
  .categoryLabels{
    width: 350px;
    margin-bottom: 15px;
  }

  .categoryP {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1400px){

  header{
    margin-left: 300px;
    margin-right: 300px;
  }

  h1 {
    font-size: 4.6rem;
  }

  .headerImage { 
    border-radius: 15px;
  }
  .radiobuttonsdiv {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 250px;
  }

  .toDoItemClass, .addToTODO{
    margin-left: 400px;
    margin-right: 400px;
  }

  .toDoNameClass {
    font-size: 2.2rem;
  }

  .toDaysDateClass, .deadLineDateClass, .descriptionClass, .deliteButtonClass {
    font-size: 2rem;
  }

  textarea, .addNewTODOButton, .deliteTODOButton, .deliteButtonClass{
    font-size: 1.5rem;  
  }

  .radioButtonSpan {
    font-size: 1.7rem;
  }
}

